.admin-panel {
    padding: 20px;
    background-color: #f9f9f9; 
    border-radius: 8px; 
    width: 95vw; 
    margin: 0 auto; 
    margin-top: 0px; /* Adjust to the height  navbar */
    display: grid;
    justify-content: center;
    align-items: center;

    margin-top: 490px
}
    
    



.dropdown-header {
    cursor: pointer; 
    background: linear-gradient(135deg, #ff8a00, #da1b60); 
    color: white; 
    padding: 15px; 
    border: 1px solid transparent; 
    border-radius: 5px; 
    margin-bottom: 70px; 
    transition: background-color 0.3s, border-color 0.3s; 
    width: 1079px;
    text-align: center;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

.dropdown-header:hover {
    background: linear-gradient(135deg, #da1b60, #ff8a00); 
    border-color: #ff8a00; 
}

.dropdown-header + div {
    padding: 10px;
    background-color: #e9ecef; 
    border: 1px solid #ced4da; 
    border-radius: 5px; 
    margin-bottom: 10px; 
}

.dropdown-header:hover {
    background: linear-gradient(135deg, #da1b60, #ff8a00); 
    border-color: #ff8a00; 
}

.dropdown-header + div {
    padding: 10px;
    background-color: #e9ecef; 
    border: 1px solid #ced4da; 
    border-radius: 5px; 
    margin-bottom: 10px; 
}


/*****/
.admin-panel {
    padding: 20px;
    background-color: #f9f9f9; 
    border-radius: 8px; 
    width: 95vw; 
    margin-top: 50px; 
    display: grid;
    justify-content: center;
    align-items: start; 
    margin-bottom: 95px;
}



.dropdown-header {
    cursor: pointer; 
    background: linear-gradient(135deg, #ff8a00, #da1b60); 
    color: white; 
    padding: 15px; 
    border: 1px solid transparent; 
    border-radius: 5px; 
    margin-bottom: 10px; 
    transition: background-color 0.3s, border-color 0.3s; 
}

.dropdown-header:hover {
    background: linear-gradient(135deg, #da1b60, #ff8a00); 
    border-color: #ff8a00; 
}

.manage-component {
    padding: 10px;
    background-color: #e9ecef; 
    border: 1px solid #ced4da; 
    border-radius: 5px; 
    margin-bottom: 10px; 
    display: none; 
}

.manage-component.active {
    display: block; 
}
