.categorized {
    padding: 0px; /*البعد عن الفيديو*/
}


.categories-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around; 
  padding: 0px 50px;
}

.category-card {
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
    margin: 30px;
    width: 40%;
    max-width: 250px; 
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out; 
}
.category-card:hover {
  transform: scale(1.05); 
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3); 
}
.category-image {
  width: 100%; /* عرض الصورة 100% من مساحة الكارد*/
  height: auto;
}

.category-card h3 {
  margin: 20px 0; 
  font-size: 1.2rem; 
}

.category-card p {
  color: #666; 
  margin-bottom: 10px; 
}




/*.category-card h3 {
    margin: 20px 0; 
    font-size: 1.5rem; 
   /* color: #333; 
/*}
*/
/*.category-card p {
    color: #777; 
   /* margin-bottom: 10px; 
    font-size: 0.9rem; 
/*}*/