.navbar {
  position: fixed;
  top: 0;
  left: 0; 
  width: 100%; 
  background-color: #333; 
  z-index: 1000; /*u*/
}

.navbar-list {
  list-style: none; /*.*/
  padding: 0; 
  margin: 0;
  display: flex; 
  justify-content: space-around; 
}

.navbar-item {
  color: white; 
  padding: 15px; /*=*/
  cursor: pointer; 
}

.navbar-item:hover {
  background-color: #555; 
}
